.lists {
  align-items: flex-start !important;
  .index-card {
    .card-body {
    background-image: cover;
    background-size: cover;
    text-align: center;
    color: #eee;
    font-size: 16px;
    }
  }
}



.show-card {
  width: 18rem;
  .card-body {
    background-image: cover;
    background-size: cover;
    padding-left: 24px;
  }
}

.bookmarks {
  margin: auto;
}
